<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head.ejs') %>
</head>
<body>
        <style>
        body {
            color: rgb(43, 125, 132);
            background-image: url("https://cdn.discordapp.com/attachments/472762389121466368/1031300337946087434/pokedex_background.png");
            background-size: 600px;
            background-repeat: no-repeat;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            display: flex;

        }
        h2 {
            color: blueviolet;
            text-align: center;
            margin-top: 100px;
        }

        img {
            height: 200px;
            width: 200px;
            border:rgb(43, 125, 132) solid 5px;
            position: relative;
            left: 50px;
            top: 340px;
            
        }

        .data {
            display: flex;
            margin-left: 280px;
            font-size: 20px;
        }
        .btn {
            display: inline-flex;
            margin-top: 100px;
            margin-left: 80px;
        }

    </style>
    <div class ="flex-container">

      <div><img src=<%= data?.img %>></div> 
       <div class="data">
            <div>
                <h2><%= data?.name %></h2>
                <div class="one">type: <%= data?.type%></div>
                <div class="two">hp:        <%= data?.stats.hp %></div>
                <div class="three">attack:    <%= data?.stats.attack %></div>
                <div class="four">defence:   <%= data?.stats.defense %></div>
                <div class="five">spattack:  <%= data?.stats.spattack %></div>
                <div class="six">spdefense: <%= data?.stats.spdefense %></div>
                <div class="seven">speed:     <%= data?.stats.speed %></div>

            </div>
        </div>
        <button class = 'btn'><a href="/pokemon">Back to Pokédex</a></button>
        <button class = 'btn'><a href="/pokemon/new">Create new Pokemon</a></button>
    </div>
   
</body>
</html>